{% extends "base.html" %}
{% block content %}

<div class="container">
    <form action="/create" method = "POST">
        <br><label for = "title" class="form-label my-3">タイトル</label>
        <input type="text" name = "title" class="form-control">
        <br><label for="body" class="form-label">内容</label>
        <textarea name="body" class="form-control" id="body" rows="5" oninput="countCharacters()"></textarea>
        <p class="counter">文字数：<span id="count">0</span></p>
        <script>
            function countCharacters() {
              const textBox = document.getElementById("body");
              const countElement = document.getElementById("count");
              countElement.innerHTML = textBox.value.length;
            }
          </script>
        <input type="submit" value="新規投稿" class="btn btn-primary">
    </form>
</div>

{% endblock %}