{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-7"></div>
        <div class="container col-md-5">
            <form method="POST">
                <input type="text" name="search" class="form-label my-3" placeholder="検索">
            </form>
        </div>
    </div>
    {% for post in posts %}
    <article>
        <div class="container py-2 post-box">
            <div class="row card-effect">
                <h3 class="text-center mx-auto py-3"><b>{{post.title}}</b></h3>
                <div class="col-md-10"></div>
                <div class="col-md-2 mx-auto">
                    <a href="/{{post.id}}/update" role = "button">編集</a>
                    <a href="/{{post.id}}/delete" role = "button">削除</a>
                </div>
                <div class="row">
                    <div class="col-md-7"></div>
                    <p class="col-md-5">作成日時： {{post.created_at}}</p>
                </div>
                <p class="container">{{post.body}}</p>
            </div>
        </div>
    </article>
{% endfor %}
</div>

{% endblock %}