{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="container">
        <form method="POST">
            <input type="text" name="search" class="form-label my-3">
            <input type="submit" value="検索" class="btn btn-primary my-3">
    
        </form>
    </div>
    {% for post in posts %}
    <article class="row">
        <h3 class="containre text-left"><b>{{post.title}}</b></h3>
        <div class="container text-right">
            <a href="/{{post.id}}/update" role = "button">編集</a>
            <a href="/{{post.id}}/delete" role = "button">削除</a>
        </div>
        <p class="container ms-auto">作成日時： {{post.created_at}}</p>
        <p class="container-left">{{post.body}}</p>
    </article>
{% endfor %}
</div>

{% endblock %}