{% extends "base.html" %}
{% block content %}

{% if texts %}
<h3 class="alert bg-white col-md-8">
{% for text in texts %}
<p><b>{{text}}</b></p>
{% endfor %}
</h3>
{% endif %}

<div class="container">
    <form method = "POST">
        <br><label for ="username" class="form-label my-3">ユーザー名</label>
        <input type="text" name = "username" class="form-control">
        <br><label for="password" class="form-label">パスワード</label>
        <input type="password" name="password" class="form-control">
        <br><input type="submit" value="ログイン" class="btn btn-primary">
    </form>
    <br><a href="/signup">アカウント作成</a>
</div>

{% endblock %}