{% extends "bootstrap/base.html" %}
{% block title %}
ログインページ
{% endblock %}

{% block content %}
<div class="container">
    <h1>Geek Twitter にログイン</h1>
    <form method = "POST">
        <label for ="username" class="form-label">ユーザー名</label>
        <input type="text" name = "username" class="form-control">
        <label for="password" class="form-label">パスワード</label>
        <input type="password" name="password" class="form-control">
        <input type="submit" value="ログイン" class="btn btn-primary">
    </form>
    <a href="/signup">アカウント作成</a>
</div>

{% endblock %}