{% extends "base.html" %}
{% block content %}

<div class="container">
    <form method = "POST">
        <br><label for = "username" class="form-label text-white">ユーザー名</label>
        <input type="text" name = "username" class="form-control">
        <br><label for="password" class="form-label text-white">パスワード</label>
        <input type="password" name="password" class="form-control">
        <br><input type="submit" value="新規登録" class="btn btn-primary">
        <br><br><a href="/login" class="text-white">ログイン画面へ遷移</a>
    </form>
</div>
{% if texts %}
{% for text in texts %}
<h3 class="container"><b>{{text}}</b></h3>
{% endfor %}
{% endif %}

{% endblock %}